<li class='clearfix record <%= cycle("on", "on-hover") %>'>
  <span class='title'>
    <%= site.name.to_s.titleize %>
    <span class="preview">- <%= site.hostnames.map {|host| host.hostname+" "}
    %></span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag('application_edit.png'),
                main_app.edit_admin_site_path(site, :dialog => true,
                                  :width => 725, :height => 525),
                :title => t('edit', :scope => 'refinery.admin.sites') %>
    <%= link_to refinery_icon_tag('delete.png'),
                main_app.admin_site_path(site),
                :class => 'cancel confirm-delete',
                :title => t('delete', :scope => 'refinery.admin.sites'),
                :confirm => t('message', :scope => 'refinery.admin.delete',
                              :title => site.name),
                :method => :delete %>
  </span>
</li>
