!!!
- if @site.try(:stylesheet)
  - content_for :stylesheets do
    = stylesheet_link_tag @site.stylesheet
= render :partial => "/refinery/html_tag"
- site_bar = render(:partial => "/refinery/site_bar", :locals => {:head => true})
= render :partial => "/refinery/head"
%body
  /
    = request.host
  -#= site_bar
  = render :partial => "/refinery/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/
  #container
    %header
    = render :partial => "/refinery/header"
    %section#page
    = yield
    %footer
    = render :partial => "/refinery/footer"
  = render :partial => "/refinery/javascripts"
